/* css styles */
#hero-heading {
  text-align: left;
  line-height: 1.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px; /* Adjust as needed */
  margin-bottom: 1px; /* Adjust as needed */
  padding: 0px;
}

p {
  margin-top: 2px; /* Adjust as needed */
  margin-bottom: 5px; /* Adjust as needed */
}